/* initialization start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #000000;
  --secondary: #497980;
  --tertiary: rgb(53, 28, 117);
  --light: rgb(246, 241, 255);
  --grey: rgb(112, 112, 112);
  --light-grey: rgb(172, 172, 172);
  --pink: rgb(189, 96, 231);
  --light-pink: rgb(217, 211, 233);
  --very-light-pink: rgb(243, 240, 250);
  font-size: 22px;
}

a {
  text-decoration: none;
  color: var(--tertiary);
}
/* initialization end */

/* body and header start */
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family:Arial, Helvetica, sans-serif;
}

.content {
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
}

header nav {
  padding: 20px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 7px 10px;
}

header nav ul li {
  padding-left: 0px;
}
/* body and header end */

/* main section start */
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 28px;
}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 8px 20px;
  margin: 50px;
  background: var(--tertiary);
  font-size: 24px;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
  color: var(--light);
}

.btn:hover {
  color: white;
  cursor: pointer;
}

.btn:active {
  box-shadow: none;
}
/* main section start */

/* questions section start */
.quiz {
  margin-bottom: 50px;

}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.opt {
  display: block;
  border-radius: 8px;
  margin: 10px;
  width: 300px;
  text-align: left;
}

.opt:hover {
  background-color: var(--pink);
}

.opt:active {
  box-shadow: none;
}
/* questions section end */

/* high scores start */
.scores-section{
  width: 700px;
  margin: 110px auto;
}

.score-detail{
  background-color: var(--light-pink);
  padding: 8px;
}

.score-detail-o{
  background-color: var(--very-light-pink);
}

.scr-btn {
  margin: 25px 10px 0 0 ;
}
/* high scores end */

/* result message start */
.result {
  display: none;
}

.result-message {
  color: var(--light-grey);
  max-width: 800px;
  margin: 50px auto;
}

.result-message h3 {
  font-style: italic;
  font-size: 48px;;
}
/* result message end */

/* score form start */
#score-form-section {
  display: none;
}

#score-form {
  text-align: left;
}

form input {
  outline: none;
  border: none;
  padding: 12px;
  width: 350px;
  border: 2px solid var(--grey);
  border-radius: 8px;
  margin: auto 10px;
}

form .form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 28px;
  margin: 0 6px 10px 0;
  flex: 1;
}

form .btn {
  margin: 18px 10px;
}
/* score form end */

/* media queries start */
@media screen and (max-width: 768px) {

  .content{
    margin: 50px 30px;
  }

  .scores-section{
    max-width: 90%;
  }


  .result-message {
    margin: 25px 30px;
  }
  .result-message h3 {
    font-size: 38px;;
  }
}

@media screen and (max-width: 575px) {
  .options {
    width: 100%;
  }

  .opt {
    margin: 10px;
    width: 90%;
    text-align: left;
  }

  form .form-group {
    margin: 30px 6px;
  }

  form input {
    width: 100%;
    margin: 10px 0 0 0;
  }

  form .btn {
    margin: 18px 0px;
  }
}
/* media queries end */

